statewide\scratch\*
statewide/scratch/*
*/scratch/*

*.gpkg
*.gpkg-shm
*.gpkg-wal
*.gdb
*.gdb.zip
*.geojson

*.pyc

.env
.venv
env/
venv/*
ENV/
env.bak/
venv.bak/
!venv/virtualenv-setup.md
!venv/requirements.txt

# tooles
!venv/Lib/site-packages/tooles
!venv/Lib/site-packages/tooles/
!venv/Lib/site-packages/tooles/*
district10/location_based_needs/~$Caltrans_Needs_DataDictionary_D10.xlsx
district10/location_based_needs/~$D10_NeedsDictionary.xlsx


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/